html{
    height:100%;
}
body{
    display: flex;
    background-color: white;
}
footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    font-size: 20px;
}
a{
    color: #000000;
    font-size: 25px;
}
ul,li{
    font-size: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: auto;
    padding: 50px;
}
.info .about{
    margin-bottom: 50px;
}
.skills{
    display: flex;
}
.skills div{
    flex:1;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #aaaaaa;
    margin-bottom: auto;
    margin-left: 40px;
    padding: 30px;
}
.menu div{
    padding: 20px;
    flex: 1;
}


